body {
    overflow-x: hidden;   
    background: #fbfbfb;
    color: black;
}

.main-home {
    background: linear-gradient(to right,rgb(122 122 181 / 13%), rgb(32 32 42 / 14%)), url(../images/bg-img.webp);
    color: white;
    margin: 35px;
    height: 400px;
}

.profile-pic img {
    width: 145px;
    display: block;
    margin: 20px auto 5px auto;
    border: 8px solid #F46258;
}

.home-banner {
    background: linear-gradient(to right,rgb(122 122 181 / 43%), rgb(32 32 42 / 34%)), url(../images/bg-img.webp); }
    
    .home-banner,
.main-home {
  background-size: cover;
  background-position: center;
}

.text-warning {
   color: #F46258 !important;
}

.btn-warning {
    color: #000;
    background-color: #F46258 !important;
    border-color: #F46258 !important;
}

.resume .resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #000000;
    margin-bottom: 10px;
  }


.resume .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #F46258
  }

.resume-info {
    border-left: 6px solid #F46258 !important;
}

.resume .resume-item::before {
    background: #F46258;
  }

.testimonial-info::before {
    background-color: white !important;
}

.menu {
	color: black !important;
    background: white;
    border-right: 2px solid black;
}

.main-menu a {
    color: black;
}

.footer i {
    color: #FAFAFC;
}

.text-white {
	color: black !important;
}

.footer {
	margin-right: -1px;
}
